
extends includes/layout.pug

block content
  - var categoriesList = list_categories({ show_count: theme.category.show_count })
  - var tagsList = list_tags({ show_count: theme.tag.show_count })
  - var archivesList = list_archives({ show_count: theme.archive.show_count , type: (theme.archive.monthly ? 'monthly' : 'yearly') , format: (theme.archive.format ? theme.archive.format : 'YYYY MMMM') })

  .main_column#page
    if theme.custom.ui.page.cover_style != 'banner'
      if theme.archive.cover
        .page_info(nocover=false)
          .page_cover
            img.header_img(src=url_for(theme.archive.cover) alt='banner')
    article#page.archive
      if !is_year()
        each item in theme.archive.show
          case item
            when 'archive'
              include includes/archive/archive.pug
            when 'category'
              include includes/archive/category.pug
            when 'tag'
              include includes/archive/tag.pug

      else

        h1= page.month + '/' + page.year

        - page.posts.each(function(article){
          .archive-list-item
            a(href=url_for(article.path))= article.title
            time(datetime=date_xml(article.date))= date(article.date)
        - })

        //- #paginator!= paginator()
        include includes/page_switch.pug
