extends includes/layout.pug

block content
  .main_column.page.f_link
    main
      +page_info(page, "page", false)
      article#main
        if !(theme.link.after_content)
          != page.content
        if site.data.link
          .f_link_block
            each grp in site.data.link
              .grp_info
                i(class="grp_icon " + (grp.icon ? grp.icon : "") style="color:" + (grp.icon_color ? grp.icon_color : "unset") +";")
                h2.grp_name(style="color:"+ (grp.color ? grp.color : "unset") +";" )=grp.group ? grp.group : ''
                .grp_warp_line
                .grp_d= grp.description ? grp.description : ""
              .grp_items
                each item in grp.links
                  div(class="item"+(item.color ? " cst_color" : "") style="--item-main-color:" + (item.color ? item.color : "none") + ";--item-main-color-ha:" + (item.color ? item.color+"40" : "none") + ";")
                    a.item_link(href=url_for(item.link))
                      if item.avatar
                        img.item_avatar(src=url_for(item.avatar) alt=item.name)
                      .item_info
                        p.item_name=item.name
                        p.item_d=item.description
        if theme.link.after_content
          != page.content