if is_home() 
  .header_info
    .site_big_title
      if theme.info.big_title == 'default'
        span.title=config.title
      else if theme.info.big_title
        span.title=theme.info.big_title
      if theme.info.subtitle == 'default'
        br
        span.subtitle=config.subtitle
      else if theme.info.subtitle
        br
        span.subtitle=theme.info.subtitle
    if theme.quick_entrance.enable
      .quick_entrance
        include ./quick_entrance.pug
else if is_post()
  .header_info
    .header_img
      img.header_img(src=url_for(page.cover) alt='banner')
    .post_info
      if page.title
        span.post_title= page.title
      else
        span.post_title= page.title=_p('post_item.notitle')
      p
      if page.date
        i(class=icon_date)
        time(datetime=page.date.toJSON())= _p('post_item.date') + ' ' + date(page.date, date_format) + ' '
      if page.updated
        i(class=icon_updated)
        time(datetime=page.updated.toJSON())= _p('post_item.updated') + ' ' + date(page.updated, date_format) + ' '
      if (page.categories.data.length > 0)
        i(class=icon_categorie)
        each cate, count in page.categories.data
          a.page_cate(href=url_for(cate.path))=cate.name
          if (count < page.categories.data.length - 1)
            span='/'
      if (page.tags.data.length > 0)
        span=' '
        if (page.tags.data.length > 1)
          i(class=icon_tags)
        else
          i(class=icon_tag)
        each tag in page.tags.data
          a.page_tag(href=url_for(tag.path))=tag.name
          span=' '
else if is_page()
  .header_info
    .header_img
      img.header_img(src=url_for(page.cover) alt='banner')
    .page_info
      if page.title
        span.page_title= page.title
      else
        span.page_title= page.title=_p('page_item.notitle')