//- 站点信息
mixin siteInfo(item)
  //- 图标
  case item.logo
    when 'favicon'
      img(src=url_for(theme.info.favicon) alt='site_icon')
    when 'avatar'
      img(src=url_for(theme.info.avatar) alt='site_icon')
    when ''
    when undefined
    when null
    when "null"
      - break
    default
      img(src=url_for(item.logo) alt='site_icon')
  //- 间隔
  if item.logo!="null" && item.logo!="" && item.logo!=undefined && (item.title!="none"||item.title!=undefined)
    .width_in_info
  //- 标题
  case item.title
    when ''
    when undefined
      span.site_title=config.title
    when 'none'
      - break
    default
      span.site_title=item.title

//- 菜单
mixin navMenu(subMenus)
  .nav_sub_menu
    each subMenu in subMenus
      .nav_sub_item
        if subMenu.link
          a(href=url_for(subMenu.link))
            i(class=subMenu.icon)
            span=subMenu.name
        else
          i(class=subMenu.icon)
          span=subMenu.name

//- act_statistics
mixin act_statistics(item)
  .nav_item_outer.act_outer
    a.nav_item_inner.act_inner(href= item.archive ? item.archive : "/archives/")
      .title=_p("page.archives")
      .value=site.posts.length
    a.nav_item_inner.act_inner(href= item.categorie ? item.categorie : "/categories/")
      .title=_p("page.categories")
      .value=site.categories.length
    a.nav_item_inner.act_inner(href= item.tag ? item.tag : "/tags/")
      .title=_p("page.tags")
      .value=site.tags.length

mixin items(item, limit)
  case item.type
    //- 站点信息
    when 'site'
      if item.link=='none'
        .nav_item_outer.noLink.site_info
          .nav_item_inner
            +siteInfo(item)
      else if item.link
        .nav_item_outer.site_info
          a(href=item.link)
            .nav_item_inner
              +siteInfo(item)
      else
        .nav_item_outer.site_info
          a(href=config.root)
            .nav_item_inner
              +siteInfo(item)
    //- 图片
    when 'img'
      if item.link
        .nav_item_outer
          a(href=url_for(item.link))
            .nav_item_inner
              img(src=url_for(item.src) alt='img')
      else
        .nav_item_outer.noLink
          .nav_item_inner
            img(src=url_for(item.src) alt='img')
    //- 文本
    when 'text'
      if item.link
        .nav_item_outer
          a(href=url_for(item.link))
            .nav_item_inner
              span=item.content
      else
        .nav_item_outer.noLink
          .nav_item_inner
            span=item.content
    //- 弹性空间
    when 'flexbox'
      .nav_item_outer.flexbox.noLink
    //- 分隔线
    when 'hr'
      .nav_item_outer.hr
    //- 菜单
    when 'menu'
      - var iconRender
      if (limit == "pc") && item.subMenu
        - iconRender = true
      .nav_item_outer.menu
        if item.link
          a(class=(iconRender ? "short" : "") href=url_for(item.link))
            .nav_item_inner
              i(class=item.icon)
              span=item.name
              if (limit != "pc") && item.subMenu
                i(class=icon_fold+" ho_rotate_90")
          if iconRender
            i(class=icon_fold+" ho_rotate_90")
          if item.subMenu
            +navMenu(item.subMenu)
        else
          div(class="fakeA" + (iconRender ? " short" : ""))
            .nav_item_inner
              i(class=item.icon)
              span=item.name
              if (limit != "pc") && item.subMenu
                i(class=icon_fold+" ho_rotate_90")
          if iconRender
            i(class=icon_fold+" ho_rotate_90")
          item.subMenu
            +navMenu(item.subMenu)
    //- 移动端菜单按钮
    when 'side_nav_btn'
      .nav_item_outer
        a.side_nav_btn(onClick="nav_menu_btn()")
          .nav_item_inner
            case limit
              when "pc"
                i(class=icon_close)
              default
                i(class=icon_menu)
    //- 归档、分类、标签统计
    when "act_statistics"
      +act_statistics(item)
    //- 搜索
    when "search"
      case item.style
        when "button"
          .nav_item_outer
            .fakeA(onClick='document.querySelector(".searchPenalBg").className="searchPenalBg show";document.querySelector(".searchPenalBg .searchInput").focus();  if(s_db==null&&s_db_load==true){s_db_load=false;searchMsg(document.querySelector(".searchPenalBg .searchInput"),"load");initializeSDB(document.querySelector(".searchPenalBg .searchInput"));s_db_load=true;}')
              .nav_item_inner
                i(class=icon_search)
                span=_p("global.search")
        when "input"
          .nav_item_outer.flexbox
            .nav_item_inner.search
              input.searchInput(type="text" onclick="if(s_db==null&&s_db_load==true){s_db_load=false;searchMsg(this,'load');initializeSDB(this);s_db_load=true;}this.oninput=function(){search(this)}" placeholder=_p("global.search_placeholder"))
              .searchResult
        when "navbar"
          .nav_item_outer
            .fakeA(onClick='document.querySelector(".navbar_inner.search").className="navbar_inner search show";document.querySelector(".navbar_inner.search .searchInput").focus();')
              .nav_item_inner
                i(class=icon_search)
                span=_p("global.search")

if theme.navbar.pc_nav_items || theme.navbar.mbl_nav_items
  nav(class="navbar row"+(theme.navbar.pc_nav_items?"":" pcNone")+(theme.navbar.mbl_nav_items?"":" mblNone"))
    if searchBar
      .navbar_inner.search
        i(class='close '+icon_close onclick="this.parentNode.className='navbar_inner search'")
        input.searchInput(type="text" onclick="if(s_db==null&&s_db_load==true){s_db_load=false;searchMsg(this,'load');initializeSDB(this);s_db_load=true;}" oninput='search(this)' placeholder=_p("global.search_placeholder"))
        .searchResult
    if theme.navbar.pc_nav_items
      .navbar_inner.pc
        each item in theme.navbar.pc_nav_items
          +items(item, "mbl")
    if theme.navbar.mbl_nav_items
      .navbar_inner.mbl
        each item in theme.navbar.mbl_nav_items
          +items(item, "")
if theme.navbar.side_nav_items
  a.nav_menu_cover(onClick="nav_menu_btn()")
  nav.navbar.side
    .navbar_inner
      each item in theme.navbar.side_nav_items
        +items(item, "pc")