//- - const isHome = is_home()
//- - const isPost = is_post()
//- - const isPage = is_page()
//- - const isAchv = is_archive()
//- - const isCate = is_category()
//- - const isTag = is_tag()

- const fooSt = (theme.footer.since) ? true : false
- const ifToc = (page.toc != undefined) ? page.toc : true
- const tocSmJ = (theme.page.click_toc_smooth_jump) ? true : false

script.
  var config = { 
    navFold: !{theme.navbar.auto_folding},
    imgDesc: !{theme.page.img_desc},
    cpBtn: !{theme.page.copy_button},
    fooRt: !{theme.footer.runtime},
    fooSt: !{fooSt},
    ifToc: !{ifToc},
    tocSmJ: !{tocSmJ},
  }

//- isHome: !{isHome},
//- isPost: !{isPost},
//- isPage: !{isPage},
//- isAchv: !{isAchv},
//- isCate: !{isCate},
//- isTag: !{isTag},