- const fooSt = (theme.footer.since) ? true : false
- const ifToc = (page.toc != undefined) ? page.toc : true

script.
  var config = { 
    navFold: !{theme.navbar.auto_folding},
    imgDesc: !{theme.page.img_desc},
    cpBtn: !{theme.page.copy_button},
    fooRt: !{theme.footer.runtime},
    fooSt: !{fooSt},
    ifToc: !{ifToc},
  }