script.
  var config = { 
    navFold: !{theme.navbar.auto_folding?theme.navbar.auto_folding:false},
    imgDesc: !{theme.page.img_desc?theme.page.img_desc:false},
    cpBtn: !{theme.page.copy_button?theme.page.copy_button:false},
    fdBtn: !{theme.page.fold_botton?theme.page.fold_botton:false},
    fdVal: !{(theme.page.auto_fold==false||theme.page.auto_fold==null)?false:(theme.page.auto_fold==0?0:'"'+theme.page.auto_fold+'"')},
    fooRt: !{theme.footer.runtime?theme.footer.runtime:false},
    fooSt: !{(theme.footer.since) ? true : false},
    ifToc: !{(page.toc != undefined) ? page.toc : true},
    tocSmJ: !{theme.page.click_toc_smooth_jump ? true : false},
    searchDbHref: "!{theme.search_db_href ? theme.search_db_href : '/search.json'}",
    searchMsg_load: "!{_p('js.search.DB_loading')}",
    searchMsg_failed: "!{_p('js.search.DB_failed')}",
    searchMsg_nothing: "!{_p('js.search.no_result')}",
    s_notitle: "!{_p('post_item.notitle')}",
    lang_days: "!{_p('js.time.days')}",
    lang_hours: "!{_p('js.time.hours')}",
    lang_mins: "!{_p('js.time.mins')}",
    lang_s: "!{_p('js.time.s')}",
    lang_days_b: "!{_p('js.time.days_before')}",
    lang_hours_b: "!{_p('js.time.hours_before')}",
    lang_mins_b: "!{_p('js.time.mins_before')}",
    lang_s_b: "!{_p('js.time.s_before')}",
    icon_tag: "!{theme.icons.tag?theme.icons.tag:'fas fa-tag fa-fw'}",
    icon_tags: "!{theme.icons.tags?theme.icons.tags:'fas fa-tags fa-fw'}",
    icon_archive: "!{theme.icons.categorie?theme.icons.categorie:'fas fa-folder fa-fw'}",
    icon_copy: "!{theme.icons.copy?theme.icons.copy:'fa fa-clipboard fa-fw'}",
    icon_check: "!{theme.icons.check?theme.icons.check:'fas fa-check fa-fw'}",
    icon_fold: "!{theme.icons.fold?theme.icons.fold:'fas fa-chevron-right fa-fw'}",
    icon_fig_more: "!{theme.icons.figure_more?theme.icons.figure_more:'fas fa-angle-double-down fa-fw'}",
    icon_categorie: "!{theme.icons.categorie?theme.icons.categorie:'fas fa-folder fa-fw'}",
    ifQuickBtn: !{(theme.quick_btn.enable) ? ifQbtn : false},
    searchBar: !{searchBar},
    post_notitle: "!{_p('post_item.notitle')}",
    link_root: "!{config.root}",
    link_tag_dir: "!{config.tag_dir}",
    image_zoom: !{page.image_zoom?true:false},
    version: "!{configVersion()}",
    build: "!{configBuild()}",
  }
  config.fdVal?(config.fdVal=parseInt(config.fdVal)):""

//- isHome: !{isHome},
//- isPost: !{isPost},
//- isPage: !{isPage},
//- isAchv: !{isAchv},
//- isCate: !{isCate},
//- isTag: !{isTag},