if (page.lisence == undefined) ? (theme.page.lisence && theme.page.lisence != true) : (page.lisence && page.lisence != true)
  - var oriLisence = ((page.lisence == undefined) ? theme.page.lisence : page.lisence)
  - oriLisence = (oriLisence + '').split(', ')
  - var lisenceLink = ""
  - var lisenceDesc = ""
  - var lisenceInfo = ""
  case oriLisence[0]
    when "CC"
      - var cc0 = true
      - var first = true
      each point in oriLisence
        case point
          when "BY"
            - cc0 = false
            if first
              - lisenceLink = "by"
              - lisenceDesc = _p('copyright.lisences.CC.BY')
              - lisenceInfo = "BY"
              - first = false
            else
              - lisenceLink = lisenceLink + "-by"
              - lisenceDesc = lisenceDesc + "-" + _p('copyright.lisences.CC.BY')
              - lisenceInfo = lisenceInfo + "-BY"
          when "NC"
            - cc0 = false
            if first
              - lisenceLink = "nc"
              - lisenceDesc = _p('copyright.lisences.CC.NC')
              - lisenceInfo = "nc"
              - first = false
            else
              - lisenceLink = lisenceLink + "-nc"
              - lisenceDesc = lisenceDesc + "-" + _p('copyright.lisences.CC.NC')
              - lisenceInfo = lisenceInfo + "-NC"
          when "ND"
            - cc0 = false
            if first
              - lisenceLink = "nd"
              - lisenceDesc = _p('copyright.lisences.CC.ND')
              - lisenceInfo = "nd"
              - first = false
            else
              - lisenceLink = lisenceLink + "-nd"
              - lisenceDesc = lisenceDesc + "-" + _p('copyright.lisences.CC.ND')
              - lisenceInfo = lisenceInfo + "-ND"
          when "SA"
            - cc0 = false
            if first
              - lisenceLink = "sa"
              - lisenceDesc = _p('copyright.lisences.CC.SA')
              - lisenceInfo = "sa"
              - first = false
            else
              - lisenceLink = lisenceLink + "-sa"
              - lisenceDesc = lisenceDesc + "-" + _p('copyright.lisences.CC.SA')
              - lisenceInfo = lisenceInfo + "-SA"
          default
            - break
      if (cc0)
        - lisenceLink = "//creativecommons.org/publicdomain/zero/1.0/"
        - lisenceDesc = _p('copyright.lisences.CC.zero')
        - lisenceInfo = "CC0 1.0"
      else
        - lisenceLink = "//creativecommons.org/licenses/" + lisenceLink + "/4.0/"
        - lisenceDesc = _p('copyright.lisences.CC.start_content') + lisenceDesc + _p('copyright.lisences.CC.end_content')
        - lisenceInfo = ("CC-" + lisenceInfo + " 4.0")
    default
      - break

if (page.copyright == undefined) ? theme.page.copyright : page.copyright
  .post_copyright
    .post_title=page.title ? page.title : _p('post_item.notitle')
    a.post_link(href=url_for(page.origin_link ? page.origin_link : (config.url + config.root + page.path)))=url_for(page.origin_link ? page.origin_link : (config.url + config.root + page.path))
    if (page.copyright == undefined) ? (theme.page.copyright && theme.page.copyright != true) : (page.copyright && page.copyright != true)
      .copyright=(page.copyright == undefined) ? theme.page.copyright : page.copyright
    else if (page.lisence == undefined) ? (theme.page.lisence && theme.page.lisence != true) : (page.lisence && page.lisence != true)
      .copyright=lisenceDesc
    .other_info
      .info
        .title=_p('copyright.author')
        if page.author_link
          .author(href=url_for(page.author_link))=(page.author == undefined) ? config.author : page.author
        else
          .author=(page.author == undefined) ? config.author : page.author
      .info
        .title=_p('copyright.date')
        .date=date(page.date, date_format)
      .info
        .title=_p('copyright.updated')
        .updated=date(page.updated, date_format)
      if lisenceInfo
        .info
          .title=_p('copyright.lisence')
          a.lisence(href=url_for(lisenceLink))=lisenceInfo