mixin index_item_info(item)
  if item.title||item.icon
    .item_info
      if item.icon
        i(class=item.icon)
      if item.title
        span.title=item.title

if theme.index_items.enable && theme.index_items.items
  .index_items
    each item in theme.index_items.items
      if item.first_page ? page.current == 1 : true
        case item.type
          when "text"
            .item.text
              +index_item_info(item)
              if item.img
                img(src=item.img alt="img")
              if item.content
                .content
                  !=`${item.content}`
          when "video"
            .item.video
              +index_item_info(item)
              if item.src
                video(src=item.src controls poster=(item.poster?item.poster:''))
              else if item.iframe
                !=`${item.iframe}`
          when "recommend"
            .item.recommend
              +index_item_info(item)
              .posts
                each post in site.posts.data
                  if post.recommend
                    a.post(href=url_for(post.path))
                      .post_info
                        .post_title= post.title ? post.title : _p('post_item.notitle')
                        if item.show_tags && (post.tags.data.length > 0)
                          object.tags
                            if (post.tags.data.length > 1)
                              i(class=icon_tags)
                            else
                              i(class=icon_tag)
                            each tag in post.tags.data
                              a.post_tag(href=url_for(tag.path))=tag.name
                      .bar
                        span=_p('index_item.go_to_read')
                        i(class=icon_go_to)
                      if post.cover
                        img(src=post.cover alt="post_cover")
          when "tags"
            .item.tags
              +index_item_info(item)
              .tags
                each tag in item.tags
                  a.tag(href=url_for(config.root+config.tag_dir+'/'+tag.name))
                    .tag_info
                      if tag.icon
                        i(class=tag.icon)
                      span.name=tag.name+((tag.show_count==undefined?item.show_count:tag.show_count)?(' - '+site.tags.findOne({name: tag.name}).length):'')
                      i(class=icon_go_to+" go_to")
                    if tag.img
                      img(src=url_for(tag.img) alt=tag.name)
          when "categories"
            .item.categories
              +index_item_info(item)
              .categories
                each cate in item.categories
                  a.cate(href=url_for(cate.url))
                    .cate_info
                      if cate.icon
                        i(class=cate.icon)
                      span.name=cate.name+((cate.show_count==undefined?item.show_count:cate.show_count)?(' - '+site.categories.findOne({name: cate.name}).length):'')
                      i(class=icon_go_to+" go_to")
                    if cate.img
                      img(src=url_for(cate.img) alt=cate.name)
          when "say"
            .item.say
              if item.icon
                i(class=item.icon)
                .contentBox
                  .contents(speed=item.speed?item.speed*1000:5000)
                    each c in item.contents
                      .content=c