
- var pageTitle = page.title || config.subtitle || ''
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- pageTitle += ' [ ' + config.title + ' ]'

doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    title= pageTitle
    //- 引用CDN
    link(rel='stylesheet', href=theme.CDN.mainCss)
    link(rel='stylesheet', href=theme.CDN.mainJs)
    link(rel='stylesheet', href=theme.CDN.fontawesome)
  body
    include ./header/header.pug
    #content-outer
      #content-inner
        if body
          div!= body
        else
          block content
    .footer
      span Site construction by
      span= ' ' + config.author + ' '
      span using 
      a(href='http://hexo.io')
        span=_p('footer.frame') + ' hexo '
      a(href='https://github.com/JonnyJong/hexo-theme-apha/')
        span=_p('footer.theme') + ' Apha '
      span .
        //- br
        //- a(href=config.root) Home
    //- if theme.scripts !== undefined && theme.scripts.length > 0
      //- scripts list from config.yml
      //- each url in theme.scripts
      //-   script(src=url)
