
- var pageTitle = page.title || config.subtitle || ''
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- pageTitle += ' [ ' + config.title + ' ]'

- var what_is_this_page = 'page'
- if (is_home()) what_is_this_page = 'home'
- if (is_post()) what_is_this_page = 'post'

- var global_back_btn = theme.custom.back_buttom

//- 颜色模式
- var color_scheme = no-preference //- light dark

doctype html
html(lang=config.language prefers-color-scheme=color_scheme)
  head
    meta(charset='UTF-8')
    title= pageTitle
    link(rel="icon" href=theme.info.favicon)
    //- 引用CDN
    link(rel='stylesheet', href=theme.CDN.mainCss)
    script(type="text/javascript" src=theme.CDN.mainJs)
    link(rel='stylesheet', href=theme.CDN.fontawesome)
    //- link(rel='stylesheet', href=theme.CDN.highlight_js_css)
    //- script(src=theme.CDN.highlight_js_js)
  body(where=what_is_this_page)
    include ./skipToContentButtom.pug
    include ./header/header.pug
    #content-outer
      #content-inner
        if body
          div!= body
        else
          block content
          if (theme.custom.ui.sidebar.enable) && (theme.custom.ui.sidebar.items)
            .side_column
              .sidebar_items
                include ./sidebar/sidebar.pug
    //- .before_footer
    footer
      span Site construction by
      span= ' ' + config.author + ' '
      span using 
      a(href='http://hexo.io')
        span=_p('footer.frame') + ' hexo '
      a(href='https://github.com/JonnyJong/hexo-theme-apha/')
        span=_p('footer.theme') + ' Apha '
      span .
        //- br
        //- a(href=config.root) Home
    //- if theme.scripts !== undefined && theme.scripts.length > 0
      //- scripts list from config.yml
      //- each url in theme.scripts
      //-   script(src=url)
