//- 标题
- var pageTitle = page.title ? page.title + " | " : ""
- if (is_archive()) pageTitle = _p('page_title.archive') + ' | '
- if (is_tag()) pageTitle = _p('page_title.tag') + page.tag + ' | '
- if (is_category()) pageTitle = _p('page_title.category') + page.category + ' | '
- if (is_month()) pageTitle = _p('page_title.archive') + _p('page_title.colon') + page.month + '/' + page.year + ' | '  //- a bug here
- if (is_year()) pageTitle = _p('page_title.archive') + _p('page_title.colon') + page.month + '/' + page.year + ' | '
- pageTitle += config.title + (config.subtitle ? ' | ' + config.subtitle : "")

- var user_scalable = theme.user_scalable ? "" : ", user-scalable=no"

include ./mixin.pug

doctype html
html(lang=config.language)
  head
    //- 基本
    meta(charset='UTF-8')
    title= pageTitle
    link(rel="icon" href=theme.info.favicon)
    meta(name="viewport" content="width=device-width" + user_scalable)
    meta(name="description" content=page.description ? page.description : config.description)
    //- main css
    link(rel='stylesheet', href=theme.CDN.mainCss)
    //- 引用CDN
    link(rel='preload', href=theme.CDN.fontawesome, as="style", onload="this.rel='stylesheet'")
  body
    include ./navbar.pug
    main
      .main
        if body
          div!= body
        else
          block content
      .sidebar
    //- main JS
    script(type="text/javascript" src=theme.CDN.mainJs)