-
  var options = {
    prev_text: '<i class="fa fa-chevron-left fa-tw"></i>',
    next_text: '<i class="fa fa-chevron-right fa-tw"></i>',
    mid_size: 1,
    escape: false
  }
nav#page_switch
  if(!is_post())
    div.page_switch
      - options.format = 'page/%d/#content-outer'
      !=paginator(options)
  else
    if(page.prev)
      .prev-post.pull-left
        a(href=url_for(page.prev.path))
          i.fa.fa-chevron-left.fa-tw
          span=' ' + _p('post.prev_post')
          br
          if page.prev.title
            span#post_title=page.prev.title
          else
            span#post_title=_p('post_item.notitle')
        a.img(href=url_for(page.prev.path))
          if page.prev.cover
            img.post_img(src=url_for(page.prev.cover) alt='post_img')
    if(page.next)
      .next-post.pull-right
        a(href=url_for(page.next.path))
          sapn=_p('post.next_post') + ' '
          i.fa.fa-chevron-right.fa-tw
          br
          if page.next.title
            span#post_title= page.next.title
          else
            span#post_title=_p('post_item.notitle')
        a.img(href=url_for(page.next.path))
          if page.next.cover
            img.post_img(src=url_for(page.next.cover) alt='post_img')