-
  var options = {
    prev_text: '<i class="' + icon_prev_post + '"></i>',
    next_text: '<i class="' + icon_next_post + '"></i>',
    mid_size: 1,
    escape: false
  }
nav.page_switch
  if(!is_post())
    .page_switch
      !=paginator(options)
  else
    .post_switch
      if(page.prev)
        .switch_item(style=page.prev.cover?("background:url("+url_for(page.prev.cover)+");background-position:center;background-size:cover;"):"")
          a.prev_post(href=url_for(page.prev.path))
            i(class=icon_prev_post)
            span=' ' + _p('post.prev_post')
            br
            .post_title=page.prev.title ? page.prev.title : _p('post_item.notitle')
      if(page.next)
        .switch_item(style=page.next.cover?("background:url("+url_for(page.next.cover)+");background-position:center;background-size:cover;"):"")
          a.next_post(href=url_for(page.next.path))
            span=_p('post.next_post') + ' '
            i(class=icon_next_post)
            br
            .post_title= page.next.title ? page.next.title : _p('post_item.notitle')