mixin post_info(article)
  .post_item
    a.post_link(href=url_for(article.path))
      if article.cover
        img.post_cover(src=article.cover alt=article.title)
      .post_info
        p.post_title=(article.title ? article.title : _p('post_item.notitle') )
        time(datetime=date_xml(article.date))= date(article.date)