- var isStickyItems = false

mixin button(subItem)
  .button
    a.button(href=subItem.link)
      if subItem.icon
        i(class=subItem.icon)
      if subItem.content
        span=subItem.content

mixin social_link()
  .social_link
    if theme.info.social_link
      each ori_soc_lnk in theme.info.social_link
        - var soc_lnk = (ori_soc_lnk + '').split(', ')
        a(href=url_for(soc_lnk[1]) title=soc_lnk[2])
          i(class=soc_lnk[0])

mixin newest_posts(subItem)
  .newest_posts
    - site.posts.sort("updated", -1).limit(subItem.limit?subItem.limit:6).each(function(article){
        +post_item(article)
    - })
mixin tags(subItem)
  - var f_limit = subItem.limit ? subItem.limit : 30
  - var f_color = subItem.colorful ? subItem.colorful : true
  - var s_color = subItem.start_color ? subItem.start_color : "#3EA919"
  - var e_color = subItem.end_color ? subItem.end_color : "#156FD6"
  .tag_cloud!= tagcloud({min_font: 15, max_font: 20, amount: f_limit, color: f_color, start_color: s_color, end_color: e_color})
mixin categories(subItem)
  - var f_depth = subItem.depth ? subItem.depth : 1
  - var f_show_count = subItem.show_count ? subItem.show_count : true
  .categoriesList!= list_categories({ depth: 1, show_count: f_show_count })

mixin num_of_articles()
  .info
    span.title=_p("sidebar.site_info.num_of_articles")
    span.value=site.posts.length
mixin total_word_count()
  .info
    span.title=_p("sidebar.site_info.total_word_count")
    span.value=totalcount(site)
mixin total_visitors()
  .info
    span.title=_p("sidebar.site_info.total_visitors")
    span.value#busuanzi_value_site_pv
mixin total_visits()
  .info
    span.title=_p("sidebar.site_info.total_visits")
    span.value#busuanzi_value_site_uv
mixin runtime()
  .info
    span.title=_p("sidebar.site_info.runtime")
    span.value#runtime(beginTime=date_xml(theme.info.site_begin))
mixin last_update()
  .info
    span.title=_p("sidebar.site_info.last_update")
    span.value#last_update(last_update_value=date_xml(Date.now()))

mixin avatar(subItem)
  .avatar
    img(class=subItem.round?'round':'' src=url_for(theme.info.avatar) alt="avatar")
mixin author_name(subItem)
  .author_name
    span.author_name= subItem.content ? subItem.content : config.author

mixin act_statistics(subItem)
  .act_statistics
    a.act_item(href= subItem.archive ? url_for(subItem.archive) : "")
      .title=_p("page.archives")
      .value=site.posts.length
    a.act_item(href= subItem.categorie ? url_for(subItem.categorie) : "")
      .title=_p("page.categories")
      .value=site.categories.length
    a.act_item(href= subItem.tag ? url_for(subItem.tag) : "")
      .title=_p("page.tags")
      .value=site.tags.length
mixin side_toc(subItem)
  - let show_in_post = subItem.post ? subItem.post : true
  - let show_in_page = subItem.page ? subItem.page : false
  - let show_count = subItem.list_number ? subItem.list_number : true
  if (page.toc == undefined | page.toc == true) && (((is_post()) && show_in_post) || ((is_page()) && show_in_page))
    != toc(page.content,{list_number: show_count})

mixin search(subItem)
  case subItem.style
    when "button"
      .button
        .search(onClick='document.querySelector(".s_penal_bg").className="s_penal_bg show"')
          i(class=icon_search)
          span=_p("global.search")
    when "input"
      .search_penal
        input.s_in(type="text" onclick="if(s_db==null&&s_db_load==true){s_db_load=false;s_msg(this,'load');initializeSDB(this);s_db_load=true;}this.oninput=function(){search(this)}" placeholder=_p("global.search_placeholder"))
        .s_result
mixin item(subItems)
  each subItem in subItems
    case subItem.type
      when "text"
        .text!=`${subItem.content}`
      when "button"
        +button(subItem)
      when "num_of_articles"
        +num_of_articles()
      when "total_word_count"
        +total_word_count()
      when "total_visitors"
        +total_visitors()
      when "total_visits"
        +total_visits()
      when "runtime"
        +runtime()
      when "last_update"
        +last_update()
      when "avatar"
        +avatar(subItem)
      when "author_name"
        +author_name(subItem)
      when "social_link"
        +social_link()
      when 'newest_posts'
        +newest_posts(subItem)
      when 'tags'
        +tags(subItem)
      when 'categories'
        +categories(subItem)
      when "act_statistics"
        +act_statistics(subItem)
      when "toc"
        +side_toc(subItem)
      when "search"
        +search(subItem)

mixin item_info(item)
  if item.icon || item.title
    .item_info
      if item.icon
        i(class= (item.icon + '').split(', ')[0] + " item_icon" style="color:"+((item.icon + '').split(', ')[1]?(item.icon + '').split(', ')[1]:"var(--text-color-rf)")+";")
      if item.title
        span=item.title

mixin deviceFilter(item)
  case item.device
    when "pc"
      .item.onlyPC
        +item_info(item)
        +item(item.items)
    when "mobile"
      .item.onlyMbl
        +item_info(item)
        +item(item.items)
    default
      .item
        +item_info(item)
        +item(item.items)

mixin pageFilter(item, sticky)
  if !sticky == !(item.sticky)
    case item.page
      when "index"
        if is_home()
          +deviceFilter(item)
      when "page"
        if !is_home()
          +deviceFilter(item)
      default
        +deviceFilter(item, value)
  else
    - isStickyItems = true

each item in theme.sidebar.items
  if item.items
    +pageFilter(item, false)
if isStickyItems
  .sticky_items
    each item in theme.sidebar.items
      if item.items
        +pageFilter(item, true)