each value, head in theme.custom.ui.sidebar.items
  - const item = (head + '').split(', ')
  .item
    case item[0]
      when "site"
        .item_info
          - const icon_ori = value.icon ? (value.icon + '').split(', ') : false
          - const icon = icon_ori[0] ? icon_ori[0] : "fas fa-chart-line"
          - const icon_color = icon_ori[1] ? icon_ori[1] : "var(--text-color-rf)"
          i(class=icon+' item_icon' style="color:"+icon_color+";")
          - const title = value.title ? value.title : _p("sidebar.site_info.title")
          span=title
        each sub_body, sub_head in value
          - const sub_item = (sub_head + '').split(', ')        
          case sub_item[0]
            when "num_of_articles"
              .content
                span.title=_p("sidebar.site_info.num_of_articles")
                span.value=123
            when "total_word_count"
              .content
                span.title=_p("sidebar.site_info.total_word_count")
                span.value=123
            when "total_visitors"
              .content
                span.title=_p("sidebar.site_info.total_visitors")
                span.value=123
            when "total_visits"
              .content
                span.title=_p("sidebar.site_info.total_visits")
                span.value=123
            when "runtime"
              .content
                span.title=_p("sidebar.site_info.runtime")
                span.value=123
            when "last_update"
              .content
                span.title=_p("sidebar.site_info.last_update")
                span.value=123
            default
              - break
        
    //- when 'author'
    //- when 'newest_posts'
    //- when 'tags'
    //- when 'categories'
    //- default